{% extends 'base.html' %}
{% load humanize %}
{% block title %}
	Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
	<h1>Hellow World! </h1>
	<p>I will give my very best </p>
	<p>{{ number }}</p>
	<p>{% if number %}Number exists! {% endif %}</p>
	<p> number = {{ number }} </p>

	<p> if number is 6 
	{% if number == 6 %}
		True
	{% else %}
		False
	{% endif %}
	</p>

	<p>There are {{ number }} dog{{ number|pluralize}}!</p>
	<p>There are {{number}} Walrus{{ number|pluralize:"es" }}!</p>

	<p>There are {{ number|apnumber }} dog! </p>
	<p>My thing: {{ mything }} </p>
	<p>This is my name: {{ mything|slugify }} </p>
	<p>This is my name: {{ thing|truncatewords:1 }} </p>
{% endblock content %}
